body {
margin: 0;
background-color: #f4f4f4;
font-family: sans-serif;
transition: 0.3s;
}
article {
background-color: #252a34;
border-radius: 8px;
padding: 20px;
flex: 1;
min-width: 250px;
max-width: 400px;
}
.titulo {
text-align: center;
font-size: 40px;
font-family: Impact;
}
.enviar {
background-color: cyan;
color: black;
padding:10px 20px;
cursor: pointer;
border: none;
}
.enviar:hover {
background-color: green;
color: white;
}
#servicios{
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}
ul {
display:flex;
gap: 20px;
list-style: none;
justify-content: center;
padding: 10px 0;
}
a {
text-decoration: none;
color: white;
}
@media only screen and (max-width: 600px) {
  #servicios {
    flex-direction: column;
  }
  .titulo{
    font-size: 25px;
  }
}
header { grid-area: header;
padding: 20px;}
nav { grid-area: nav;}
main { grid-area: main;}
footer { 
grid-area: footer;
background-color: #000000;
text-align: center;
}

.contenedor-padre {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.modo-oscuro {
display: flex;
justify-content: flex-end;
flex-wrap: wrap;
}

body.dark-mode {
color: white;
background-color: #1c1c1c;
border: 1px solid #333;
}

.menu-lateral {
position: fixed;
top: 0;
left: 0;
width: 380px;
height: 100%;
background-color: #252a34;
color: white;
padding: 20px;
z-index: 1000; /* Para que quede arriba del todo*/
/* El truco: lo movemos 100% a la izquierda (fuera de la vista)*/
transform: translateX(-100%);
transition: 0.4s; /* Para que se deslice suave*/
}

.menu-lateral.abierto {
transform: translateX(0);
}